.container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 1px;
}
  
.button {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
  
.input {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 1rem;
    color: black;
}
  