.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 195px;
  z-index: 1000;
  background: radial-gradient(
    ellipse at calc(100% - 250px) -30px,
    #12B9EE,
    rgba(0, 0, 0, 0) 75%
  ),
  #000;
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 24px;
}

.menuItem {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.menuItem:hover {
  color: #ccc;
}

.cartButton {
  margin-right: 40px;
}

.burgerMenu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  cursor: pointer;
}

.burgerBar {
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.dropdownMenu {
  position: absolute;
  top: 60px;
  right: 16px; 
  background-color: #000;
  width: 140px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


@media (max-width: 1080px) {
  .navbar {
    padding: 0 12%;
  }

  .menu {
    display: none;
  }

  .burgerMenu {
    display: flex;
  }

  .cartButton {
    margin-right: 16px;
  }
}


@media (max-width: 480px) {
  .navbar {
    padding: 0 5%;
  }
}