.container {
    background-image: url('/pdp/PDP-EVENT-section-image.png');
    background-size: cover;
    background-position: center;
    padding: 40px 20%;
    color: #fff;
    text-align: left;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .text {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: left;
  }
  