.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  max-width: 300px;
  margin: 0 auto;
}

.logoContainer {
  margin-bottom: 16px;
}

.followUs {
  color: #d3d3d3;
  font-size: 1rem;
  margin-bottom: 16px;
}

.icons {
  display: flex;
  gap: 16px;
}

.icons a {
  display: flex;
  align-items: center;
  justify-content: center;
}
