.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
  }
  
  .icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
  }
  