.section {
    padding: 40px 195px;
    background-image: url('/section-benefits-service.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .title {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 32px;
  }
  
  .grid {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
  
  @media (max-width: 1440px) {
    .section {
      padding: 40px 16px;
    }
    .grid {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  }
  