.container {
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .avatar {
    border-radius: 50%;
    margin-right: 16px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .name {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .role {
    font-size: 1rem;
    color: #aaa;
  }
  