.container {
    margin-top: 20px;
  }
  
  .list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .listItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }
  
  