.card {
  width: 100%;
  max-width: 300px;
  background-color: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 300px;
}

.image {
  object-fit: cover;
}

.content {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: calc(100% - 300px);
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  margin: 0;
}

.dateTime,
.venue {
  font-size: 1rem;
  color: #B8B8B8;
  margin: 0;
}

.venue {
  margin-bottom: 16px;
  font-size: 1.5rem;
  color: white;
}

.buttonContainer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button {
  width: 100%;
}