.container {
    max-width: 330px;
    margin: 0 auto;
    padding: 0px;
    background-color: #171717;
    color: #fff;
    border-radius: 0px;
  }
  
  .imageContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  
  .image {
    border-radius: 8px;
  }
  
  .brokerInfo {
    margin-top: 10px;
  }
  
  .section {
    margin-top: 20px;
  }

  .separator {
    border-top: 1px solid #555;
    margin: 20px 0;
  } 
  