.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  max-width: 300px;
  margin: 0 auto;
}

.downloadText {
  color: #d3d3d3;
  font-size: 1rem;
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
