.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background: linear-gradient(45deg, #ff00ff, #00ffff);
  border-radius: 4px;
  transition: transform 0.3s;
  padding: 0px 12px;
}

.button:hover {
  transform: scale(1.05);
}

.icon {
  filter: brightness(0) invert(1);
}